{% extends 'base.html' %}

{% block 'titulo' %}Visualizar Filmes{% endblock %}

{% block 'conteudo' %}
<div class="container mt-4">
  <h1>Lista de Filmes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Sinopse</th>
        <th>Duração</th>
        <th>Autor</th>
        <th>Capa</th>
      </tr>
    </thead>
    <tbody>
      {% for filme in filmes %}
        <tr>
          <td>{{ filme.titulo }}</td>
          <td>{{ filme.sinopse }}</td>
          <td>{{ filme.duracao }} minutos</td>
          <td>{{ filme.autor }}</td>
          <td><img src="{{ filme.capa.url }}" alt="Capa {{ filme.titulo }}" style="max-width: 100px;"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}